<div class="sticky-top">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      MyCinema
    </a>
    <%= link_to "Add a Movie", new_list_bookmark_path(@list), :class => 'btn my-2 my-sm-0 ' %>
</nav>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.image.key, height: 300, crop: :fill %>')">
  <h1><%= @list.name %></h1>
</div>


<div class="container">
<div class="m-5">

  <div class="movie-wrapper">
    <% @list.movies.each do |movie| %>
      <div class="card-movie">
        <img src=<%= movie.poster_url %> alt="Movie poster" />
        <div class="card-movie-info">
          <div>
            <h2><%= movie.title %></h2>
            <p><%= movie.overview %></p>
          </div>
          <h2 class="card-movie-rating"><%= movie.rating %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-movie-icon avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>


</div>
