<div class="sticky-top">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      MyCinema
    </a>
    <%= link_to "Add a Movie", new_list_bookmark_path(@list), :class => 'btn btn-outline-light my-2 my-sm-0 ' %>
</nav>
</div>

<div class="container">
  <%= cl_image_tag @list.image.key, height: 300, width: 400, crop: :fill %>
</div>

<div class="container">

  <h2><%= @list.name %></h2>
  <div class="movie-wrapper">
    <% @list.movies.each do |movie| %>
      <div class="card-movie">
        <img src=<%= movie.poster_url %> alt="Movie poster" />
        <div class="card-movie-info">
          <div>
            <h2><%= movie.title %></h2>
            <p><%= movie.overview %></p>
          </div>
          <h2 class="card-movie-rating"><%= movie.rating %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-movie-icon avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>
